.cp-button {
    width: 2.5vw;
    height: 2.5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c8c8c8;

    padding: 0.5em 0.3em;
    border: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    color: white;
}

.cp-button:hover {
    cursor: pointer;
}

.cp-button:focus {
    outline: none;
}

.cp-button:active {
    color: rgb(0, 255, 0);
}

.cp-button-text {
    width: 2vw;
    height: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #515151;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;

    padding: 0.25em;
}