.cp-box {
    width: 18.2vw;
    height: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: 2px solid white;
    border-radius: 5px;
    background-color: var(--cp-grey);
}

.cp-title {
    margin-top: 0.25em;
    font-weight: normal;
    font-size: 24px;
    color: white;
}

.cp-buttons {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}